################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoGuesserAPI/.vs
/GeoGuesserAPI/bin/Debug/net6.0
/GeoGuesserAPI/obj
